//- Course Preview Page
extends layout

block head
	link(rel='stylesheet', href='/stylesheets/course.css')

block content
	section.hero
		.container
			.course
				h2 #{course.name}
				.course-hero
					div
						img(src=course.coverImage, alt="Thumbnail", width=360, height=240)
					div.info
						p #{course.summary}	
						.controls
							a(href='/courses/' + course._id + '/register/')
								button.primary Register
							a(href=course.handout)
								button.secondary View Handout

	section.course-info
		.container
			.card#description
				h3 Description
				p #{course.description}
			div
				.card
					h3 Topics
					ul
						each topic in course.topics
							li #{topic}
				.card
					h3 Instructors
					ul
						each instructor in course.instructors
							li #{instructor}
